/*
 * Achievements
 */

div.achievement {
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    line-height: 2rem;
    font-size: 0.75rem;
    color: #FFFFFF;
    background-color: #0099FF;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.24);
}

div.achievementsContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

div.achievementWrapper {
    height: 15rem;
    min-height: 15rem;

    width: 47rem;
    min-width: 47rem;
    left: 50%;
    margin-left: -23.5rem;

    position: absolute;
}

div.achievementBoxWrapper {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 80;
}

div.achievementBox {
    height: 12rem;
    min-height: 12rem;
    width: 42rem;
    min-width: 42rem;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    color: #FEFEFE;
    text-align: center;

	background:
		radial-gradient(circle at 0 0, transparent 2rem, #0099FF 2rem),
		radial-gradient(circle at 100% 0, transparent 2rem, #0099FF 2rem),
		radial-gradient(circle at 100% 100%, transparent 2rem, #0099FF 2rem),
		radial-gradient(circle at 0 100%, transparent 2rem, #0099FF 2rem);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;

    display: inline-block;
    position: absolute;
    z-index: 80;
}

div.achievementBoxShadowTB {
    height: 12rem;
    min-height: 12rem;
    width: 38rem;
    min-width: 38rem;
    margin-top: 1.5rem;
    margin-left: 4.5rem;
    box-shadow: 0 0 0.5rem #999999;
    display: inline-block;
    position: absolute;
    z-index: 79;
}

div.achievementBoxShadowLR {
    height: 8rem;
    min-height: 8rem;
    width: 42rem;
    min-width: 42rem;
    margin-top: 3.5rem;
    margin-left: 2.5rem;
    box-shadow: 0 0 0.5rem #999999;
    display: inline-block;
    position: absolute;
    z-index: 79;
}

div.achievementBoxLeft {
    height: 8rem;
    min-height: 8rem;
    width: 2.5rem;
    min-width: 2.5rem;
    margin-top: 3.5rem;
    margin-left: 0rem;
    background-image: url(/images/dividers/divider_06_left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    z-index: 81;
}

div.achievementBoxLeftIn {
    height: 8rem;
    min-height: 8rem;
    width: 1.25rem;
    min-width: 1.25rem;
    margin-top: 3.5rem;
    margin-left: 2.5rem;
    background-image: url(/images/dividers/divider_06_left_in.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    z-index: 81;
}

div.achievementBoxRight {
    height: 8rem;
    min-height: 8rem;
    width: 2.5rem;
    min-width: 2.5rem;
    margin-top: 3.5rem;
    margin-left: 44.5rem;
    background-image: url(/images/dividers/divider_06_right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    z-index: 81;
}

div.achievementBoxRightIn {
    height: 8rem;
    min-height: 8rem;
    width: 1.25rem;
    min-width: 1.25rem;
    margin-top: 3.5rem;
    margin-left: 43.25rem;
    background-image: url(/images/dividers/divider_06_right_in.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    z-index: 81;
}

div.achievementTagLeft {
    width: 40%;
    display: inline-block;
    margin-top: 0.75rem;
    font-size: 1.125rem;
    text-transform: capitalize;
    text-align: right;
    padding-right: 3rem;
}

div.achievementTagRight {
    width: 40%;
    display: inline-block;
    margin-top: 0.75rem;
    font-size: 1.125rem;
    text-transform: capitalize;
    text-align: left;
    padding-left: 3rem;
}

div.achievementBadge {
    margin-top: -4.75rem;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    color: #FFDF00;
}

div.achievementIcon {
    height: 2rem;
    min-height: 2rem;
    width: 2rem;
    min-width: 2rem;
    position: relative;
    font-size: 1.5rem;
    color: #FEFEFE;
    z-index: 1001;
    margin-top: -6.75rem;
    margin-left: 2.1rem;
}

div.achievementTitle {
    width: 100%;
    font-size: 3rem;
    text-transform: capitalize;
    font-family: "Ruthie";
    text-align: center;
}

div.achievementDescription {
    width: 100%;
    font-size: 0.875rem;
    text-align: center;
}

div.achievementTitleDividerTop {
    width: 100%;
    height: 15%;
    background-image: url(/images/dividers/achievement_divider_top.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

div.achievementTitleDividerBottom {
    width: 100%;
    height: 15%;
    background-image: url(/images/dividers/achievement_divider_bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

div.achievementOverlay {
    height: 24rem;
    min-height: 24rem;
    margin-top: -4.5rem;
    width: 64rem;
    min-width: 64rem;
    margin-left: -8.5rem;

	background: radial-gradient(ellipse 50% 50% at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 75%, rgba(255, 255, 255, 0.0) 100%);

    position: absolute;
    opacity: 0;

    transition: opacity 2s ease-in-out;
    z-index: 40;
}
