/***********************
       Page Layout
************************/
* {
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: url(/images/background_squares.png);
}

/***********************
          Fonts
************************/
/* Ruthie */
@font-face {
    font-family: "Ruthie";
    src: url(/fonts/ruthie_regular.ttf);
}

body, td, th, input {
    font-family: "Century Gothic", "Trebuchet MS", "Ubuntu", sans-serif;
    text-align: justify;
    font-size: 0.875rem;
    color: #333333;
    word-wrap: break-word;
    font-weight: normal;
}

pre {
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    display: inline;
}

code {
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    display: inline;
    font-size: 0.8125rem;
    white-space: pre-wrap;
}

var {
    font-family: "Century Gothic", "Trebuchet MS", "Ubuntu", sans-serif;
    color: #000000;
    font-weight: bold;
    font-style: normal;
}

/*
These are intentionally set to em, instead of rem. Do not change!
*/
sub, sup {
    font-size: 0.66em;
    line-height: 1em;
}

/***********************
         Links
************************/
a, div.link {
    display: inline;
    font-size: inherit;
    color: #0099FF;
}
a:link, div.link:link {
    text-decoration: none;
}
a:visited, div.link:visited {
    text-decoration: none;
    color: #0099FF;
}
a:hover, div.link:hover {
    text-decoration: none;
    color: #00CCFF;
    cursor: pointer;
}
a:active, div.link:active {
    text-decoration: none;
    color: #0099FF;
}

a.decorated {
    color: #111111;
}

a.white, div.white {
    color: #EEEEEE;
}

a.white:hover, div.white:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/***********************
      Positioning
************************/
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.top {
    vertical-align: top;
}
.bottom {
    vertical-align: bottom;
}
.center {
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    text-align: center;
}
.inline {
    display: inline;
}

/***********************
         Styling
************************/
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

/***********************
     Section Headers
************************/
h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
    padding-bottom: 0.0625rem;
    border-bottom: 0.0625rem dotted #999999;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    margin: 0.375rem 0;
    padding-bottom: 0.125rem;
    border-bottom: 0.0625rem dotted #999999;
}
h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1.5rem;
}
h4 {
    font-size: 0.875rem;
    font-weight: bold;
    font-style: italic;
    color: #333333;
    margin-top: 1rem;
}

/***********************
         Lists
************************/
ol, ul {
    margin: 0.25rem, 0;
}

/***********************
     Content Layout
************************/
div.wrapper {
    min-height: 100%;
    position: relative;
}

div.header {
    width: 100%;
    height: 5.625rem;
    overflow: hidden;
    background: #0099FF;
    box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.24);
    top: 0;
}

div.main {
    width: 100%;
    overflow-x: auto;
    top: 5.75rem;
    padding-bottom: 1.875rem;
}

div.footer {
    width: 100%;
    line-height: 1.875rem;
    overflow: hidden;
    color: #EEEEEE;
    background: #0099FF;
    position: absolute;
    bottom: 0;
}

div.footer-left {
    display: inline-block;
    float: left;
    width: 6.25rem;
    text-align: left;
}

div.footer-middle {
    display: inline-block;
    float: left;
    font-size: 0.6875rem;
    width: 37.5rem;
    text-align: center;
}

div.footer-right {
    display: inline-block;
    float: left;
    width: 6.25rem;
    text-align: right;
}

div.container {
    width: 50rem;
    min-width: 50rem;
    max-width: 50rem;
    margin: 0 auto;
}

div.noselect {
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

div.box {
    margin: 0.5rem auto;
    padding: 1.5rem 3.5rem 2rem 3.5rem;
    background: #FFFFFF;
    border: 0.0625rem solid #ccc;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.24);
    border-radius: 0.25rem;
}

div.box-problem {
    padding-bottom: 1rem;
}

div.narrow {
    padding: 0.625rem 3.125rem;
}

div.boxlink:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

div.boxlink:active {
    background-color: #FFFFFF;
}

div.fullsize {
    width: 43.75rem;
    min-width: 43.75rem;
    max-width: 43.75rem;
}

div.centered {
    text-align: center;
}

div.authenticate {
    position: absolute;
    height: 16rem;
    width: 24rem;
    min-width: 24rem;
    max-width: 24rem;
    top: 50%;
    margin-top: -8rem;
    left: 50%;
    margin-left: -12rem;
}

div.register {
    position: absolute;
    height: 34rem;
    width: 50rem;
    min-width: 50rem;
    max-width: 50rem;
    top: 50%;
    margin-top: -17rem;
    left: 50%;
    margin-left: -25rem;
    z-index: 89;
}

div.login {
    padding: 1rem 3rem;
}

div.menu {
    width: 50rem;
    height: 5.625rem;
    left: 50%;
    position: absolute;
    margin-left: -25rem;
    overflow: hidden;
}
table.menu {
    width: 50rem;
    border-spacing: 0;
}
table.menu .button {
    padding: 0;
    margin-top: -0.5rem;
    width: 6.25rem;
    font-size: 0.9375rem;
    text-align: center;
    vertical-align: middle;
}

table.menu .logo {
    width: 12.5rem;
    vertical-align: middle;
}

div.logo {
    height: 5rem;
    margin-top: 0.5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    font-family: "Ruthie", cursive;
    color: #FFFFFF;
}

div.userInfo {
    width: 48.75rem;
    padding: 0 0.625rem;
    height: 1.25rem;
    margin: 0.625rem auto 0 auto;
    line-height: 1.25rem;
    text-align: right;
    font-size: 0.8125rem;
}

div.user {
    display: inline;
    font-weight: bold;
    color: #000000;
}

div.problem {
    display: inline;
    font-weight: bold;
    color: #000000;
}

div.profile-head {
    position: relative;
    height: 5.125rem;
    margin-bottom: 1.5rem;
    border-spacing: 0;
    border-collapse: collapse;
}

div.profile-avatar {
    position: absolute;
    left: 0;
    height: 5rem;
    width: 5rem;
    background: #00CCFF;
    background-size: 5rem 5rem;
    background-repeat: no-repeat;
    border: 0.0625rem solid #FFFFFF;
    border-radius: 2.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.24);
    z-index: 3;
}

div.profile-line {
    position: absolute;
    width: 100%;
    height: 2.625rem;
    border-bottom: dotted 0.0625rem #CCCCCC;
    z-index: 2;
}

div.profile-username {
    position: absolute;
    right: 0;
    border-spacing: 0;
    border-collapse: collapse;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 5.125rem;
    text-align: right;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    margin-top: -0.125rem;
    font-weight: bold;
    background-color: #FFFFFF;
    z-index: 3;
}

div.profile-dot-box {
    line-height: 0.75rem;
    opacity: 0.75;
}

div.profile-dot {
    display: inline-block;
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 0.3125rem;
    margin-right: 0.125rem;
}

div.button {
    width: 100px;
    height: 100px;
    position: relative;
    height: 5.5rem;
    opacity: 0.9;
    color: #ECECEC;
    border-top: solid 0.125rem #0099FF;
}

div.button:hover {
    transition: all 0.2s ease 0s;
    cursor: pointer;
    color: #FFFFFF;
    border-top: solid 0.125rem #FFFFFF;
}

div.button-icon {
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

div.button-text {
    font-size: 0.875rem;
}

div.separator {
    width: 100%;
    border-top: dotted 0.0625rem #999999;
    margin-top: 0.25rem 0;
}

div.news-icon {
    float: right;
    line-height: 2rem;
    font-size: 1.25rem;
    margin-top: 0.125rem;
}

div.news-title {
    margin-top: -0.375rem;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: bold;
    padding-bottom: 0.0625rem;
    margin-bottom: 0.25rem;
    border-bottom: 0.0625rem dotted #999999;
}

div.news-date {
    text-align: right;
    font-size: 0.75rem;
    font-style: italic;
    color: #333333;
    margin-bottom: -0.625rem;
}

div.game-info {
    display: inline-block;
    vertical-align: top;
    width: 30rem;
    padding: 1rem 1rem 1rem 0;
}

div.game-image {
    display: inline-block;
    text-align: right;
    padding: 0;
    width: 12rem;
    height: 12rem;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 0.125rem;
}

div.game-name {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
}

div.game-stats {
    margin-top: 0.125rem;
    margin-bottom: 1rem;
}

div.problem-status {
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    line-height: 3rem;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 0.125rem;
}

div.problem-name {
    display: inline-block;
    vertical-align: middle;
    width: 29rem;
    line-height: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
}

div.problem-solutions {
    display: inline-block;
    vertical-align: middle;
    width: 12rem;
    line-height: 3rem;
    font-size: 1.25rem;
    text-align: right;
}

div.problem-visibility {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
    text-align: center;
}

div.problem-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

div.problem-origin {
    line-height: 0.75rem;
    font-size: 0.875rem;
}

div.problem-resources {
    line-height: 0.875rem;
    font-size: 0.875rem;
    text-align: left;
    text-align: right;
}

div.problem-statement {
    margin-top: 0.25rem;
    line-height: 1.125rem;
}

div.problem-io {
    font-size: 0.9375rem;
    margin-top: 1rem;
    font-weight: bold;
}

div.problem-explanation {
    font-size: 0.75rem;
    text-align: center;
    font-style: italic;
}

div.problem-stats-link {
    font-size: smaller;
    margin-top: -1.5rem;
    margin-right: 0.25rem;
    text-align: right;
}

div.problem-stats-field {
    display: inline-block;
    text-align: center;
    margin: 1rem;
}

div.problem-stats-field-circle {
    width: 5rem;
    height: 5rem;
    font-weight: bold;
    line-height: 5rem;
    border-radius: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #0099FF;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.24);
 }

div.problem-stats-field-label {
    font-size: smaller;
}

table.problem-sample {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: pre-wrap;
    margin-top: 1rem;
    margin-bottom: 0.0625rem;
}

table.problem-sample tr th {
    font-weight: bold;
    width: 50%;
    max-width: 50%;
}

table.problem-sample tr td {
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    vertical-align: top;
    font-size: 0.8125rem;
    width: 50%;
    max-width: 50%;
}

table.problem-sample tr td, table.problem-sample tr th {
    padding: 0.25rem 0.5rem;
    page-break-inside: avoid;
    border: 0.0625rem solid #666666;
}

table.register {
    width: 100%;
    font-size: 1rem;
    border-spacing: 0;
    border-collapse: collapse;
}

table.register tr td.left {
    width: 50%;
    text-align: right;
    padding-right: 0.125rem;
}

table.register tr td.right {
    width: 50%;
    text-align: left;
    padding-left: 0.125rem;
}

input.text {
    height: 1.6rem;
    padding: 0.125rem 0.3125rem;
    margin: 0.0625rem 0;
    border: 0.0625rem solid #888888;
    border-radius: 0.1875rem;
}

input.text:focus {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.24);
}

form.login {
    margin-top: 1rem;
}

form.register {
    margin-top: 1rem;
}

div.input-wrapper {
    text-align: center;
}

input.button {
    padding: 0 0.75rem;
    width: 8rem;
    min-width: 8rem;
    left: 50%;
    margin-top: 0.5rem;
    margin-left: auto;
    line-height: 2rem;
    text-align: center;
    color: #ECECEC;
    border: 0.0625rem solid #FFFFFF;
    border-radius: 0.25rem;
    font-weight: bold;
    -webkit-appearance: none;
}

input.button-large {
    width: 14rem;
    min-width: 14rem;
    line-height: 2.5rem;
}

input.button-color-blue {
    background-color: #0099FF;
}

input.button-color-red {
    background-color: #D84A38;
}

input.button-color-gray {
    color: #FFFFFF;
}

input.radio {
    margin-left: 0.5rem;
}

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0.8;
    z-index: 50;
}

::-webkit-scrollbar {
    display: none;
}

div.action-form {
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    max-height: 40rem;
    width: 43rem;
    top: 50%;
    left: 50%;
    margin: 1.25rem auto 1.25rem -24rem;
    padding: 1.25rem 2.5rem 1rem 2.5rem;
    background: #FFFFFF;
    border: 0.0625rem solid #ccc;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.24);
    border-radius: 0.25rem;
    position: fixed;
    z-index: 89;
}

div.larger-box {
    max-height: 48rem;
}

div.action-form-close {
    display: inline-block;
    position: absolute;
    margin-left: 43.75rem;
    margin-top: -0.75rem;
    color: #555555;
}

div.action-form-close:hover {
    cursor: pointer;
    color: #000000;
}

textarea.report-problem {
    margin-top: 0.25rem;
    width: 100%;
    height: 15rem;
}

textarea.submit-source {
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    width: 98%;
    height: 22.5rem;
    font-size: 0.9375rem;
    white-space: pre-wrap;
    padding: 1%;
}

input.news-form-title {
    margin-top: 0.5rem;
    width: 100%;
    height: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    border: none;
}

input.news-form-date {
    width: 6.25rem;
    height: 1rem;
    font-size: 0.75rem;
    text-align: right;
    font-style: italic;
    border: none;
}

textarea.news-form-content {
    width: 100%;
    height: 21rem;
}

div.message {
    position: fixed;
    min-width: 20rem;
    top: 7rem;
    left: 50%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
    z-index: 100;
    background-color: #0099FF;
}

div.message-info {
    background-color: #45B891;
}

div.message-error {
    background-color: #D84A38;
}

div.message-content {
    line-height: 2rem;
    vertical-align: middle;
    padding: 0 0.75rem 0 1rem;
}

div.message-icon {
    color: #FFFFFF;
    display: inline-block;
}

div.message-text {
    padding-left: 0.25rem;
    display: inline-block;
    color: #FFFFFF;
}

div.message-close {
    display: inline-block;
    float: right;
    color: #FFFFFF;
    margin-left: 0.5rem;
    cursor: pointer;
}

div.fade-in {
    animation-name: fade-in;
    animation-duration: 0.3s;
    opacity: 1;
}

div.fade-out {
    animation-name: fade-out;
    animation-duration: 0.3s;
    opacity: 0;
}

div.fade-in-overlay {
    animation-name: fade-in-overlay;
    animation-duration: 0.3s;
    opacity: 0.8;
}

div.fade-out-overlay {
    animation-name: fade-out-overlay;
    animation-duration: 0.3s;
    opacity: 0;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fade-in-overlay {
    from {opacity: 0;}
    to {opacity: 0.8;}
}

@keyframes fade-out-overlay {
    from {opacity: 0.8;}
    to {opacity: 0;}
}

table.default {
    width: 100%;
    line-height: 1.75rem;
}

table.default th {
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background-color: #0099FF;
    line-height: 2rem;
    border-radius: 0.125rem;
}

table.default td {
    text-align: center;
    border-radius: 0.125rem;
    padding: 0 0.125rem;
}

table.default tr:nth-child(odd) {
    background: #F9F9F9;
}

table.red th {
    background-color: #DD4337;
}

table.green th {
    background-color: #129D5A;
}

table.blue th {
    background-color: #0099FF;
}

table.gray th {
    background-color: #CCCCCC;
}

table.black th {
    background-color: #333333;
}

.red {
    color: #DD4337;
}
.green {
    color: #129D5A;
}
.yellow {
    color: #FBCB43;
}
.blue {
    color: #0099FF;
}
.gray {
    color: #CCCCCC;
}
.black {
    color: #333333;
}

.background-red {
    background-color: #DD4337;
}
.background-dull-red {
    background-color: #E87467;
}
.background-green {
    background-color: #129D5A;
}
.background-dull-green {
    background-color: #34B67A;
}
.background-yellow {
    background-color: #FBCB43;
}
.background-dull-yellow {
    background-color: #FCCC44;
}
.background-blue {
    background-color: #0099FF;
}
.background-dull-blue {
    background-color: #78A8FC;
}
.background-purple {
    background-color: #8E44AD;
}
.background-dull-purple {
    background-color: #9B59B6;
}
.background-orange {
    background-color: #E67E22;
}
.background-dull-orange {
    background-color: #F39C12;
}
.background-teal {
    background-color: #16A085;
}
.background-dull-teal {
    background-color: #1ABC9C;
}
.background-asphalt {
    background-color: #2C3E50;
}
.background-dull-asphalt {
    background-color: #3D566E;
}
.background-gray {
    background-color: #CCCCCC;
}
.background-dull-gray {
    background-color: #9A9A9A;
}
.background-black {
    background-color: #111111;
}
.background-dull-black {
    background-color: #333333;
}

.underline {
    border-bottom: 0.0625rem dotted #CCCCCC;
}

div.achievement {
    cursor: default;
    display: inline-block;
    height: 2rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    line-height: 2rem;
    font-size: 0.75rem;
    color: #FFFFFF;
    background-color: #0099FF;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.24);
}

div.edit-problem-tab {
    margin-top: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.375rem;
}

div.edit-problem-tab-button {
    display: inline-block;
    color: #0099FF;
    cursor: pointer;
}

div.edit-problem-section {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #FCFCFC;
    border: 0.0625rem dashed #999999;
}

div.edit-problem-section-field {
    text-align: left;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

input.edit-problem-text-field {
    text-align: center;
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;

    border: none;
    border-bottom: 0.0625rem dotted #CCCCCC;
}

textarea.edit-problem-statement {
    width: 100%;
}

textarea.edit-problem-sample {
    width: 98%;
}

select {
    font-family: inherit;
}

fieldset {
    border: 0.0625rem solid #999999;
}

label.checkbox-label input[type="checkbox"] {
    position: relative;
    vertical-align: middle;
    bottom: 0.0625rem;
}

div.edit-problem-test-hash {
    font-size: 0.75rem;
    margin-top: -0.5rem;
}

div.help-version {
    font-size: 0.75rem;
    font-style: italic;
    text-align: right;
    padding-right: 0.25rem;
}
div.test-result {
    text-align: center;
    display: inline-block;
    min-height: 2rem;
    min-width: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.24);
    margin: 0.125rem 0.25rem;
    color: #EEEEEE;
    cursor: help;
}

.test-status-tooltip {
    position: relative;
    cursor: pointer;
    overflow: visible;
}

.test-status-tooltip:hover:after {
    content: attr(data-title);
    background: rgba(0, 0, 0, 0.85);
    /* background: rgba(0, 153, 255, 0.85); */
    padding: 3px 7px;
    color: #FFF;
    border-radius: 3px;
    margin-left: 7px;
    margin-top: -3px;
    width: 8rem;
    white-space: pre-wrap;
    position: fixed;
    overflow: visible;
    z-index: 101;
}

table.bordered {
    margin: 0.25rem 0.5rem;
    border: 1px solid #333333;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: pre-wrap;
}

table.bordered tr td {
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    vertical-align: top;
    padding: 0.125rem 0.25rem;
    border: 0.0625rem solid #666666;
    font-size: 0.8125rem;
    page-break-inside: avoid;
}

div.show-source-box {
    border: 1px dashed #333333;
    padding: 0.5rem;
    max-height: 20rem;
    overflow: auto;
}
