/***********************
       Page Layout
************************/
* {
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: url(/images/background_squares.png);
}

/***********************
          Fonts
************************/
@font-face {
    font-family: "Ruthie";
    src: url(/fonts/ruthie_regular.ttf);
}

body, td, th, input {
    font-family: "Century Gothic", "Trebuchet MS", "Ubuntu", sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #000000;
    word-wrap: break-word;
    font-weight: normal;
}

pre {
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    display: inline;
}

code {
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    display: inline;
    font-size: 0.9em;
    white-space: pre-wrap;
}

var {
    font-family: "Century Gothic", "Trebuchet MS", "Ubuntu", sans-serif;
    /*
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    */
    color: #000000;
    font-weight: bold;
    font-style: normal;
}

/***********************
         Links
************************/
a, div.link {
    font-size: inherit;
    color: #0099FF;
}
a:link, div.link:link {
    text-decoration: none;
}
a:visited, div.link:visited {
    text-decoration: none;
    color: #0099FF;
}
a:hover, div.link:hover {
    text-decoration: none;
    color: #00CCFF;
    cursor: pointer;
}
a:active, div.link:active {
    text-decoration: none;
    color: #0099FF;
}

a.decorated {
    color: #000000;
}

a.white {
    color: #EEEEEE;
}

a.white:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/***********************
      Positioning
************************/
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.top {
    vertical-align: top;
}
.bottom {
    vertical-align: bottom;
}
.center {
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    text-align: center;
}
.inline {
    display: inline;
}

/***********************
         Styling
************************/
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

/***********************
     Section Headers
************************/
h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 4px;
}
h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    margin-top: 12px;
}
h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 0px;
}
h4 {
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
    color: #333333;
    margin-top: 16px;
    margin-bottom: 0px;
}

/***********************
         Lists
************************/
ol, ul {
    margin-top: 4px;
    margin-bottom: 4px;
}

/***********************
     Content Layout
************************/
div.wrapper {
    min-height: 100%;
    position: relative;
}

div.header {
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: #0099FF;
    top: 0;
}

div.main {
    width: 100%;
    overflow-x: auto;
    top: 90px;
    padding-bottom: 30px;
}

div.footer {
    width: 100%;
    height: 30px;
    overflow: hidden;
    color: #EEEEEE;
    background: #0099FF;
    position: absolute;
    bottom: 0;
}

div.footer-left {
    display: inline-block;
    float: left;
    width: 100px;
    line-height: 30px;
    text-align: left;
}

div.footer-middle {
    display: inline-block;
    float: left;
    font-size: 0.7em;
    line-height: 30px;
    width: 600px;
    text-align: center;
}

div.footer-right {
    display: inline-block;
    float: left;
    width: 100px;
    line-height: 30px;
    text-align: right;
}

div.container {
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    margin: 0px auto 0px auto;
}

div.noselect {
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

div.box {
    margin: 8px auto 8px auto;
    padding: 30px 50px 30px 50px;
    background: #FFFFFF;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

div.narrow {
    padding: 10px 50px 10px 50px;
}

div.boxlink:hover {
    background-color: #FAFAFA;
}

div.boxlink:active {
    background-color: #FFFFFF;
}

div.fullsize {
    width: 700px;
    min-width: 700px;
    max-width: 700px;
}

div.centered {
    text-align: center;
}

div.smaller {
    line-height: 2em;
    font-size: 0.8em;
}

div.authenticate {
    position: absolute;

    width: 340px;
    min-width: 340px;
    max-width: 340px;

    top: 50%;
    margin-top: -80px;

    left: 50%;
    margin-left: -170px;
}

div.register {
    position: absolute;

    width: 800px;
    min-width: 800px;
    max-width: 800px;

    top: 50%;
    margin-top: -230px;

    left: 50%;
    margin-left: -400px;
}


div.login {
    padding: 10px 50px 10px 50px;
}

div.register-link {
    margin-top: -8px;
    margin-right: 6px;
}

div.menu {
    width: 800px;
    height: 90px;
    left: 50%;
    position: absolute;
    margin-left: -400px;
    overflow: hidden;
}
table.menu {
    width: 800px;
    height: 90px;
    border-spacing: 0px;
}
table.menu .button {
    padding: 0px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

table.menu .logo {
    width: 200px;
    vertical-align: middle;
}

div.logo {
    margin-top: 5px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 5em;
    font-family: "Ruthie", cursive;
    color: #FFFFFF;
    cursor: default;
}

div.userInfo {
    width: 780px;
    padding: 0px 10px 0px 10px;
    height: 20px;
    margin: 10px auto 0px auto;
    line-height: 20px;
    text-align: right;
    font-size: 0.9em;
}

div.user {
    display: inline;
    font-weight: bold;
}

div.button {
    font-size: 1.15em;
    line-height: 88px;
    border-top: solid 2px #0099FF;
    color: #ECECEC;
}

div.button:hover {
    cursor: pointer;
    color: #FFFFFF;
    border-top: solid 2px #FFFFFF; 
    transition: all 0.2s ease 0s;
}

div.separator {
    width: 100%;
    border-top: dotted 1px #333333;
    margin-top: 4px;
    margin-bottom: 4px;
}

div.problem-name {
    height: 40px;
    width: 450px;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.25em;
    font-weight: bold;
}

div.problem-info {
    height: 40px;
    width: 240px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 0.85em;
}

div.problem-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2px;
}

div.problem-resources {
    line-height: 10px;
    font-size: 0.9em;
    text-align: left;
}

div.problem-source {
    line-height: 10px;
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
}

div.problem-statement {
    padding-top: 10px;
}

div.problem-io {
    margin-top: 1em;
    font-weight: bold;
}

div.problem-explanation {
    font-size: 0.7em;
    text-align: center;
}

table.problem-sample {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: pre-wrap;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

table.problem-sample tr th {
    font-style: italic;
}

table.problem-sample tr td {
    font-family: "Consolas", "Ubuntu Mono", "Courier New", monospace;
    vertical-align: top;
    font-size: 0.9em;
}

table.problem-sample tr td, table.problem-sample tr th {
    padding: 4px 8px;
    page-break-inside: avoid;
    border: 1px solid #666666;
}

table.register {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table.register tr td.left {
    width: 50%;
    text-align: right;
    padding-right: 2px;
}

table.register tr td.right {
    width: 50%;
    text-align: left;
    padding-left: 2px;
}

input.text {
    padding: 2px 6px;
    margin: 1px 0px 1px 0px;
}

form.login {
    margin-top: 1em;
}

form.register {
    margin-top: 1em;
}

input.submit {
    margin-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    height: 28px;
    min-width: 60px;
    text-align: center;
    font-size: 1em;
    color: #ECECEC;
    background-color: #0099FF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

div.news-title {
    margin-top: -6px;
    font-size: 1.33em;
    font-weight: bold;
}

div.news-date {
    text-align: right;
    font-size: 0.9em;
    font-style: italic;
    color: #333333;
    margin-bottom: -10px;
}
