Options -Indexes

ErrorDocument 403 /error
ErrorDocument 404 /error

#
# Rewrite rules
#
RewriteEngine on

# Hack for CGI handlers of PHP
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Generic pages
RewriteRule    ^$                                       /code/main.php?page=home                                                [NC,L]
RewriteRule    ^home$                                   /code/main.php?page=home                                                [NC,L,QSA]
RewriteRule    ^problems$                               /code/main.php?page=problems                                            [NC,L,QSA]
RewriteRule    ^queue$                                  /code/main.php?page=queue                                               [NC,L,QSA]
RewriteRule    ^training$                               /code/main.php?page=training                                            [NC,L,QSA]
RewriteRule    ^ranking$                                /code/main.php?page=ranking                                             [NC,L,QSA]
RewriteRule    ^login$                                  /code/main.php?page=login                                               [NC,L,QSA]
RewriteRule    ^logout$                                 /code/main.php?page=logout                                              [NC,L,QSA]
RewriteRule    ^register$                               /code/main.php?page=register                                            [NC,L,QSA]
RewriteRule    ^about$                                  /code/main.php?page=about                                               [NC,L,QSA]
RewriteRule    ^help$                                   /code/main.php?page=help                                                [NC,L,QSA]
RewriteRule    ^stats$                                  /code/main.php?page=stats                                               [NC,L,QSA]
RewriteRule    ^error$                                  /code/main.php?page=error                                               [NC,L,QSA]
RewriteRule    ^forbidden$                              /code/main.php?page=forbidden                                           [NC,L,QSA]

# Problem page
RewriteRule    ^problems/(\d+)$                         /code/main.php?page=problems&problemId=$1                               [NC,L,QSA]
RewriteRule    ^problems/(\d+)/stats$                   /code/main.php?page=problems&problemId=$1&stats=true                    [NC,L,QSA]
RewriteRule    ^problems/(\d+)/submits$                 /code/main.php?page=problems&problemId=$1&submits=true                  [NC,L,QSA]
RewriteRule    ^problems/(\d+)/submits/(\d+)$           /code/main.php?page=problems&problemId=$1&submits=true&submitId=$2      [NC,L,QSA]

# User profile page
RewriteRule    ^users/(\w[\w.]{1,15})$                  /code/main.php?page=profile&user=$1                                     [NC,L,QSA]

# Actions
RewriteRule    ^actions/update$                         /code/actions/grader_update.php                                         [NC,L,QSA]
RewriteRule    ^actions/(\w+)$                          /code/actions/dispatch.php?action=$1                                    [NC,L,QSA]

# Admin pages
RewriteRule    ^admin/init$                             /code/db/init.php                                                       [NC,L,QSA]
RewriteRule    ^admin/news$                             /code/admin/admin.php?page=news                                         [NC,L,QSA]
RewriteRule    ^admin/news/(\d+|new)$                   /code/admin/admin.php?page=news&newsId=$1                               [NC,L,QSA]
RewriteRule    ^admin/problems$                         /code/admin/admin.php?page=problems                                     [NC,L,QSA]
RewriteRule    ^admin/problems/(\d+|new)$               /code/admin/admin.php?page=problems&problemId=$1                        [NC,L,QSA]
RewriteRule    ^admin/regrade$                          /code/admin/admin.php?page=regrade                                      [NC,L,QSA]
RewriteRule    ^admin/regrade/(\d+|pending)$            /code/admin/admin.php?page=regrade&submitId=$1                          [NC,L,QSA]
