Options -Indexes

ErrorDocument 403 /error
ErrorDocument 404 /error

#
# Cache configuration
#
# One day for image files
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
	Header set Cache-Control "max-age=86400, public"
</filesMatch>
# One minute for css and js
<filesMatch ".(css|js)$">
	Header set Cache-Control "max-age=60, public"
</filesMatch>

#
# Rewrite rules
#
RewriteEngine on

# Enforce HTTPS usage on production server
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^action.informatika.bg$ [NC]
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R=301,L]

# Hack for CGI handlers of PHP
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Generic pages
RewriteRule    ^$                                               /code/main.php?page=home                                                            [NC,L]
RewriteRule    ^home$                                           /code/main.php?page=home                                                            [NC,L,QSA]
RewriteRule    ^problems$                                       /code/main.php?page=problems                                                        [NC,L,QSA]
RewriteRule    ^games$                                          /code/main.php?page=games                                                           [NC,L,QSA]
RewriteRule    ^training$                                       /code/main.php?page=training                                                        [NC,L,QSA]
RewriteRule    ^queue$                                          /code/main.php?page=queue                                                           [NC,L,QSA]
RewriteRule    ^ranking$                                        /code/main.php?page=ranking                                                         [NC,L,QSA]
RewriteRule    ^login$                                          /code/main.php?page=login                                                           [NC,L,QSA]
RewriteRule    ^logout$                                         /code/main.php?page=logout                                                          [NC,L,QSA]
RewriteRule    ^register$                                       /code/main.php?page=register                                                        [NC,L,QSA]
RewriteRule    ^about$                                          /code/main.php?page=about                                                           [NC,L,QSA]
RewriteRule    ^help$                                           /code/main.php?page=help                                                            [NC,L,QSA]
RewriteRule    ^stats$                                          /code/main.php?page=stats                                                           [NC,L,QSA]
RewriteRule    ^error$                                          /code/main.php?page=error                                                           [NC,L,QSA]
RewriteRule    ^forbidden$                                      /code/main.php?page=forbidden                                                       [NC,L,QSA]

# Test page
RewriteRule    ^test$											/code/main.php?page=test														    [NC,L,QSA]

# Problem pages
RewriteRule    ^problems/(\d+)$                                 /code/main.php?page=problems&problemId=$1                                           [NC,L,QSA]
RewriteRule    ^problems/(\d+)/stats$                           /code/main.php?page=problems&problemId=$1&stats=true                                [NC,L,QSA]
RewriteRule    ^problems/(\d+)/users$                           /code/main.php?page=problems&problemId=$1&users=true                                [NC,L,QSA]
RewriteRule    ^problems/(\d+)/tags$                            /code/main.php?page=problems&problemId=$1&tags=true                                 [NC,L,QSA]
RewriteRule    ^problems/(\d+)/print$                           /code/main.php?page=problems&problemId=$1&print=true                                [NC,L,QSA]
RewriteRule    ^problems/(\d+)/submits$                         /code/main.php?page=problems&problemId=$1&submits=true                              [NC,L,QSA]
RewriteRule    ^problems/(\d+)/submits/(\d+)$                   /code/main.php?page=problems&problemId=$1&submits=true&submitId=$2                  [NC,L,QSA]
RewriteRule    ^problems/(\d+)/submits/(\d+)/updates$           /code/main.php?page=problems&problemId=$1&submits=true&submitId=$2&updates=true     [NC,L,QSA]
RewriteRule    ^problems/(\d+)/pdf$                             /code/main.php?page=problems&problemId=$1&pdf=true                                  [NC,L,QSA]

# Training pages
RewriteRule    ^training/implementation$						/code/main.php?page=training&section=IMPL											[NC,L,QSA]
RewriteRule    ^training/corner-cases$							/code/main.php?page=training&section=CCAS											[NC,L,QSA]
RewriteRule    ^training/recursion-and-backtrack$				/code/main.php?page=training&section=RECU											[NC,L,QSA]
RewriteRule    ^training/bruteforce$							/code/main.php?page=training&section=BRUT											[NC,L,QSA]
RewriteRule    ^training/sorting$								/code/main.php?page=training&section=SORT											[NC,L,QSA]
RewriteRule    ^training/greedy$								/code/main.php?page=training&section=GRDY											[NC,L,QSA]
RewriteRule    ^training/math$									/code/main.php?page=training&section=MATH											[NC,L,QSA]
RewriteRule    ^training/simple-data-structures$				/code/main.php?page=training&section=SIDS											[NC,L,QSA]
RewriteRule    ^training/simple-graphs$							/code/main.php?page=training&section=GRF1											[NC,L,QSA]
RewriteRule    ^training/binary-search$							/code/main.php?page=training&section=BSTS											[NC,L,QSA]
RewriteRule    ^training/dynamic-programming$					/code/main.php?page=training&section=DPDP											[NC,L,QSA]
RewriteRule    ^training/bucketing$								/code/main.php?page=training&section=BUCK											[NC,L,QSA]
RewriteRule    ^training/iterative-dynamic-programming$			/code/main.php?page=training&section=ITDP											[NC,L,QSA]
RewriteRule    ^training/sliding-window$						/code/main.php?page=training&section=WIND											[NC,L,QSA]
RewriteRule    ^training/bitmask-dynamic-programming$			/code/main.php?page=training&section=BMDP											[NC,L,QSA]
RewriteRule    ^training/game-theory$							/code/main.php?page=training&section=GAME											[NC,L,QSA]
RewriteRule    ^training/advanced-data-structures$				/code/main.php?page=training&section=ADDS											[NC,L,QSA]
RewriteRule    ^training/strings$								/code/main.php?page=training&section=STRI											[NC,L,QSA]
RewriteRule    ^training/geometry$								/code/main.php?page=training&section=GEOM											[NC,L,QSA]
RewriteRule    ^training/medium-graphs$							/code/main.php?page=training&section=GRF2											[NC,L,QSA]
RewriteRule    ^training/meet-in-the-middle$					/code/main.php?page=training&section=MITM											[NC,L,QSA]
RewriteRule    ^training/probability$							/code/main.php?page=training&section=PROB											[NC,L,QSA]
RewriteRule    ^training/inner-cycle-optimization$				/code/main.php?page=training&section=INNR											[NC,L,QSA]
RewriteRule    ^training/sweep-line$							/code/main.php?page=training&section=SWLN											[NC,L,QSA]
RewriteRule    ^training/advanced-dynamic-programming$			/code/main.php?page=training&section=ADDP											[NC,L,QSA]
RewriteRule    ^training/advanced-graphs$						/code/main.php?page=training&section=GRF3											[NC,L,QSA]
RewriteRule    ^training/various$								/code/main.php?page=training&section=VARI											[NC,L,QSA]

# Games pages
RewriteRule    ^games/([\w-]+)$                                 /code/main.php?page=games&game=$1                                                   [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/submits$                         /code/main.php?page=games&game=$1&submits=true                                      [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/submits/(\d+)$                   /code/main.php?page=games&game=$1&submits=true&submitId=$2                          [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/submits/(\d+)/updates$           /code/main.php?page=games&game=$1&submits=true&submitId=$2&updates=true             [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/submits/(\d+)/replays/(\d+)$     /code/main.php?page=games&game=$1&submits=true&submitId=$2&matchId=$3               [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/visualizer$                      /code/main.php?page=games&game=$1&visualizer=true                                   [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/scoreboard$                      /code/main.php?page=games&game=$1&scoreboard=true                                   [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/demo$                            /code/main.php?page=games&game=$1&demo=true                                         [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/print$                           /code/main.php?page=games&game=$1&print=true                                        [NC,L,QSA]
RewriteRule    ^games/([\w-]+)/pdf$                             /code/main.php?page=games&game=$1&pdf=true                                          [NC,L,QSA]

# User profile page
RewriteRule    ^users/(\w[\w.]{1,15})$                          /code/main.php?page=profile&user=$1                                                 [NC,L,QSA]

# Actions
RewriteRule    ^actions/update$                                 /code/actions/grader_update.php                                                     [NC,L,QSA]
RewriteRule    ^actions/(\w+)$                                  /code/actions/dispatch.php?action=$1                                                [NC,L,QSA]

#Reset Password
RewriteRule    ^reset$                                          /code/main.php?page=reset                                                           [NC,L,QSA]
RewriteRule    ^reset/(\w+)$                                    /code/main.php?page=reset&key=$1                                                    [NC,L,QSA]

# Admin pages
RewriteRule    ^admin/news$                                     /code/admin/admin.php?page=news                                                     [NC,L,QSA]
RewriteRule    ^admin/news/(\d+|new)$                           /code/admin/admin.php?page=news&newsId=$1                                           [NC,L,QSA]
RewriteRule    ^admin/problems$                                 /code/admin/admin.php?page=problems                                                 [NC,L,QSA]
RewriteRule    ^admin/problems/(\d+|new)$                       /code/admin/admin.php?page=problems&problemId=$1                                    [NC,L,QSA]
RewriteRule    ^admin/regrade$                                  /code/admin/admin.php?page=regrade                                                  [NC,L,QSA]
RewriteRule    ^admin/regrade/(\d+|pending|stuck)$              /code/admin/admin.php?page=regrade&submitId=$1                                      [NC,L,QSA]
RewriteRule    ^admin/retest$                                   /code/admin/admin.php?page=retest                                                   [NC,L,QSA]
RewriteRule    ^admin/retest/(\d+)$                             /code/admin/admin.php?page=retest&problemId=$1                                      [NC,L,QSA]
RewriteRule    ^admin/retest/(\d+)/latest$                      /code/admin/admin.php?page=retest&problemId=$1&latest=true                          [NC,L,QSA]
RewriteRule    ^admin/achievements$                             /code/admin/admin.php?page=achievements                                             [NC,L,QSA]
RewriteRule    ^admin/achievements/recalc$                      /code/admin/admin.php?page=achievements&recalc=true                                 [NC,L,QSA]

# DB tools
RewriteRule    ^admin/init$                                     /code/db/init.php                                                                   [NC,L,QSA]
RewriteRule    ^admin/migrate$                                  /code/db/migrate.php                                                                [NC,L,QSA]
